<html>
	<head>
		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

		<style>

		body {
			padding-top: 10px;
			font-family: 'Montserrat', sans-serif;
		}

		h1 {
			color: black;
    		text-align: center;
    		clear: both;
		} 

	   .nopic {
	        color: black;
	        text-decoration: bold;
	        text-align: justify;
	    }

	    .pic {
	        float:left; 
	        text-align: center;
	        width:400px;
	        height:400px;
	        overflow: hidden;
	        padding:20px;
	    }

	    .caption {
	        text-align: justify;
	        width:350px;
	        height:350px;
	        overflow: hidden;
	    }


		</style>

		<script language="javascript" type="text/javascript">
			setTimeout("location.reload();",60000);
		</script>
	</head>


	<body>

		<div><h1>New Pictures</h1></div>

		<% if @new_pics.empty? %>
			<div class="nopic">No New Pictures</div>
		<% else %>
			<% for pic in @new_pics do %>
				<div class="pic">
				  <div><img height="200" src='<%= pic['display_src'] %>'></img></div>
				  <div class="caption"><%= pic['caption'] %></div>
				</div>
			<% end %>
		<% end %>


		<div><h1>Recent Pictures</h1></div>
		<% if @old_pics.empty? %>
			<div class="nopic">No Recent Pictures</div>
		<% else %>
			<% for pic in @old_pics do %>
				<div class="pic">
				  <div><img height="200" src='<%= pic['display_src']  %>'></img></div>
				  <div class="caption"><%= pic['caption'] %></div>
				</div>
			<% end %>
		<% end %>


	</body>
</html>