<div style="height:10px;"></div>
<div style="width: 100%;align=center"><b>New Pics</b></div>
<div style="width: 100%;">
	<% if @new_pics.empty? %>
		<div>No New Pictures!</div>
	<% else %>
		<% for pic in @new_pics do %>
			<div style="float:left; width: 200px;">
			  <img height="200" src='<%= pic.images.standard_resolution.url %>'></img><br/><%= pic.caption.text %>
			</div>
		<% end %>
	<% end %>
</div>

<div style="height:200px;"></div>
<div style="width: 100%;align=center"><b>Old Pics</b></div>
<div style="width: 100%;">
	<% if @old_pics.empty? %>
		<div>No Old Pictures!</div>
	<% else %>
		<% for pic in @old_pics do %>
			<div style="float:left; width: 200px;">
			  <img height="200" src='<%= pic.images.standard_resolution.url %>'></img><br/><%= pic.caption.text %>
			</div>
		<% end %>
	<% end %>
</div>